*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://pbs.twimg.com/media/FcxDgJkXwAIu93d?format=jpg&name=4096x4096");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}